abbr,
address,
article,
aside,
audio,
b,
blockquote,
body div,
body,
caption,
cite,
code,
dd,
del,
dfn,
dl,
dt,
em,
fieldset,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
body,
html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #fbfcfc;
  color: #1a242f;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.2;
}
body * {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
hr {
  border-top: 1px solid #ecf0f1;
  border: 0;
  display: block;
  height: 1px;
  margin-bottom: 0.8em;
}
img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
}
abbr[title] {
  border-bottom: 1px dotted #1a242f;
  cursor: help;
}
address,
blockquote,
dl,
ol,
p,
ul {
  margin-bottom: 0.8em;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  font-family: Georgia, Times;
  font-size: 1.3em;
}
cite {
  font-style: italic;
}
code,
kbd,
pre,
samp,
var {
  background-color: #fbfcfc;
  color: #1a242f;
  font-family: Monaco, Courier New, monospace;
}
dd {
  margin-left: 0.8em;
}
dfn {
  font-style: italic;
}
dt {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  line-height: 1em;
  margin-bottom: 0.4em;
}
h1 {
  font-size: 2.6em;
}
h2 {
  font-size: 2.2em;
}
h3 {
  font-size: 1.8em;
}
h4 {
  font-size: 1.6em;
}
h5 {
  font-size: 1.3em;
}
h6 {
  font-size: 1em;
}
mark {
  color: #1a242f;
  font-style: italic;
  font-weight: bold;
}
ol,
ul {
  padding-left: 0.8em;
}
ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}
pre {
  text-align: left;
  padding: 0 6px;
  white-space: pre-wrap;
  white-space: pre;
  word-wrap: break-word;
}
pre code {
  background-color: transparent;
  border: 0;
  color: inherit;
  padding: 0;
  white-space: pre-wrap;
  white-space: pre;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
blockquote.center {
  text-align: center;
}
.color.default {
  color: #1a242f;
}
.color.colorful {
  color: #1abc9c;
}
.color.white {
  color: #ffffff;
}
.text.large {
  font-size: 1.3em;
}
.text.big {
  font-size: 1.2em;
}
.text.small {
  font-size: 0.8em;
}
.text.tiny {
  font-size: 0.7em;
}
.text.shadow {
  text-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
}
.text.uppercase {
  text-transform: uppercase;
}
.text.bold {
  font-weight: bold;
}
.text.normal {
  font-weight: normal;
}
.text.book {
  font-weight: 300;
}
.text.thin {
  font-weight: 100;
}
.text.center {
  text-align: center;
}
.text.justify {
  text-align: justify;
}
.text.left {
  text-align: left;
}
.text.right {
  text-align: right;
}
h1.title,
h2.title,
h3.title {
  border-bottom: 1px solid #ecf0f1;
  margin-bottom: 0.8em;
  padding-bottom: 0.25em;
}
.list.inline {
  padding-left: 0;
  list-style: none;
}
.list.inline li {
  display: inline-block;
}
.list.unstyled {
  padding-left: 0;
  list-style: none;
}
a {
  color: #0088cc;
  text-decoration: none;
}
a:active {
  outline: 0;
}
a:focus {
  color: #005580;
  outline: thin dotted;
  text-decoration: underline;
}
a:hover {
  color: #005580;
  outline: 0;
  text-decoration: underline;
}
a:visited {
  color: #005580;
  text-decoration: none;
}
button,
input,
select,
textarea {
  font-family: inherit;
  line-height: 1.2;
  margin: 0 0 0.2em 0;
  vertical-align: baseline;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
fieldset {
  border-width: 0;
  margin-bottom: 0.8em;
}
input,
select,
textarea {
  background-color: #ffffff;
  color: #1a242f;
  display: inline-block;
  padding: 5px;
  width: 100%;
}
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
input[type="file"],
input[type="image"],
select,
textarea {
  border: 1px solid #ecf0f1;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
input[type="text"]:hover,
input[type="password"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="date"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="color"]:hover,
input[type="file"]:hover,
input[type="image"]:hover,
select:hover,
textarea:hover {
  border-color: #1abc9c;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input[type="file"]:focus,
input[type="image"]:focus,
select:focus,
textarea:focus {
  border-color: #ff0000;
  outline: 0;
}
input {
  height: 30px;
}
input[type="checkbox"],
input[type="image"],
input[type="radio"] {
  cursor: pointer;
  height: auto;
  line-height: normal;
  padding: 0;
  width: auto;
}
input[type="checkbox"],
input[type="radio"] {
  margin-right: 4px;
  vertical-align: middle;
}
input[type="checkbox"]:focus,
input[type="checkbox"]:hover,
input[type="file"]:focus,
input[type="file"]:hover,
input[type="radio"]:focus,
input[type="radio"]:hover {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
input[type="file"] {
  width: auto;
}
input[type="hidden"] {
  display: none;
}
input[disabled],
input[readonly],
select[disabled],
select[readonly],
textarea[disabled],
textarea[readonly] {
  background-color: #ecf0f1;
  cursor: not-allowed;
}
input[disabled]:focus,
input[readonly]:focus,
select[disabled]:focus,
select[readonly]:focus,
textarea[disabled]:focus,
textarea[readonly]:focus,
input[disabled]:hover,
input[readonly]:hover,
select[disabled]:hover,
select[readonly]:hover,
textarea[disabled]:hover,
textarea[readonly]:hover {
  border-color: #ecf0f1;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
label {
  color: inherit;
  display: block;
  font-size: 16px;
  margin-bottom: 0.2em;
  position: relative;
  top: 2px;
  vertical-align: baseline;
}
legend {
  border: 0;
  border-bottom: 1px solid #ecf0f1;
  color: inherit;
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.8em;
  padding-bottom: 0.5em;
  width: 100%;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
.input {
  margin-bottom: 0.4em;
}
.input.inline {
  display: inline-block;
  margin-right: 0.4em;
}
table {
  background-color: #ffffff;
  border: 1px solid #ecf0f1;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}
tbody:first-child tr:first-child td,
tbody:first-child tr:first-child th,
thead:first-child tr:first-child th {
  border-top: 0;
}
tbody tr td,
tbody tr th {
  -webkit-transition: background-color 0.25s linear;
  -moz-transition: background-color 0.25s linear;
  -ms-transition: background-color 0.25s linear;
  -o-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}
td,
th {
  border-top: 1px solid #ecf0f1;
  font-size: inherit;
  line-height: 1.2;
  padding: 8px;
  text-align: left;
  vertical-align: top;
}
tfoot {
  border-top: 1px solid #ecf0f1;
}
.striped tbody tr:nth-child(odd),
.striped tbody tr:nth-child(odd) {
  background-color: #ecf0f1;
}
.striped tbody tr:hover td,
.striped tbody tr:hover th {
  background-color: #28e1bd;
}
.btn {
  background-color: #1abc9c;
  border: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: inset 0 -0.1em 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 -0.1em 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -0.1em 0 rgba(0, 0, 0, 0.1);
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  height: 30px;
  padding: 5px 6px 4px 5px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
  width: auto;
}
.btn:hover {
  background-color: #18af91;
  text-decoration: none;
  color: #ffffff;
}
.btn.alert {
  background-color: #e74c3c;
}
.btn.alert:hover {
  background-color: #e53f2e;
}
.btn.info {
  background-color: #2ecacc;
}
.btn.info:hover {
  background-color: #2bbec0;
}
.btn.success {
  background-color: #2ecc71;
}
.btn.success:hover {
  background-color: #2bc06a;
}
.btn.secondary {
  background-color: #a7babe;
}
.btn.secondary:hover {
  background-color: #9eb3b7;
}
.btn.white {
  background-color: #ffffff;
  border: 1px solid #ecf0f1;
  color: #1a242f;
}
.btn.white:hover {
  background-color: #f7f7f7;
}
.btn.full {
  display: block;
  width: 100%;
}
.btn.large {
  font-size: 1.3em;
}
.btn.big {
  font-size: 1.2em;
}
.btn.small {
  font-size: 0.8em;
}
.btn.tiny {
  font-size: 0.7em;
}
.btn.large,
.btn.big,
.btn.small,
.btn.tiny {
  height: auto;
}
.bck.theme {
  background-color: #1abc9c;
}
.bck.themeligth {
  background-color: #28e1bd;
}
.bck.dark {
  background-color: #2c3e50;
}
.bck.darkest {
  background-color: #1a242f;
}
.bck.light {
  background-color: #ecf0f1;
}
.bck.lightest {
  background-color: #fbfcfc;
}
.bck.alert {
  background-color: #e74c3c;
}
.bck.info {
  background-color: #2ecacc;
}
.bck.success {
  background-color: #2ecc71;
}
.bck.theme,
.bck.dark,
.bck.darkest,
.bck.alert,
.bck.info,
.bck.success {
  color: #fbfcfc;
}
.img.circle {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.img.polaroid {
  background-color: #ffffff;
  border: 1px solid #ecf0f1;
  padding: 4px;
}
.img.rounded {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.img.responsive {
  height: auto;
  width: 100%;
}
.row {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.column {
  float: left;
  padding-left: 0.8em;
  padding-right: 0.8em;
}
.row.column {
  padding-left: 0;
  padding-right: 0;
}
.margin {
  margin: 0.8em;
}
.margin.bottom {
  margin: 0 0 0.8em 0;
}
.padding {
  padding: 1em;
}
.block {
  display: block;
}
.clear {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.inline {
  display: inline-block;
}
.none {
  display: none;
}
.wrapper {
  margin: 0 auto;
  max-width: 1024px;
}
.alertbox {
  background-color: #ecf0f1;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 0.8em;
  padding: 1em;
}
.alertbox a {
  color: inherit;
  font-weight: bold;
}
.alertbox p:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
}
.alertbox.theme {
  background-color: #1abc9c;
  color: #ffffff;
}
.alertbox.dark {
  background-color: #2c3e50;
  color: #ffffff;
}
.alertbox.alert {
  background-color: #e74c3c;
  color: #ffffff;
}
.alertbox.info {
  background-color: #2ecacc;
  color: #ffffff;
}
.alertbox.success {
  background-color: #2ecc71;
  color: #ffffff;
}
.alertbox.close {
  padding-right: 2em;
  position: relative;
}
.alertbox.close > .close {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  opacity: .5;
  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  padding: 0;
  font-size: 1.2em;
  font-weight: bold;
  -webkit-appearance: none;
}
.alertbox.close > .close:hover {
  opacity: 1;
}
.callout {
  background-color: #ecf0f1;
  border-left: 3px solid #2c3e50;
  margin-bottom: 0.8em;
  padding: 1em;
  padding-left: 2em;
}
.callout p:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
}
.callout.theme {
  border-color: #1abc9c;
}
.callout.theme h1,
.callout.theme h2,
.callout.theme h3,
.callout.theme h4,
.callout.theme h5,
.callout.theme h6 {
  color: #1abc9c;
}
.callout.alert {
  border-color: #e74c3c;
}
.callout.alert h1,
.callout.alert h2,
.callout.alert h3,
.callout.alert h4,
.callout.alert h5,
.callout.alert h6 {
  color: #e74c3c;
}
.callout.info {
  border-color: #2ecacc;
}
.callout.info h1,
.callout.info h2,
.callout.info h3,
.callout.info h4,
.callout.info h5,
.callout.info h6 {
  color: #2ecacc;
}
.callout.success {
  border-color: #2ecc71;
}
.callout.success h1,
.callout.success h2,
.callout.success h3,
.callout.success h4,
.callout.success h5,
.callout.success h6 {
  color: #2ecc71;
}
.breadcrumb {
  background-color: #ecf0f1;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  list-style: none;
  padding: 1em;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  color: #1a242f;
  content: "/\00a0";
  padding: 0 0.3333333333333333em;
}
.badge:after {
  background-color: #000000;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #ffffff;
  content: attr(data-badge);
  font-size: 0.7em;
  margin-left: 0.4em;
  padding: 0.16666666666666666em;
}
.badge.theme:after {
  background-color: #1abc9c;
}
.badge.dark:after {
  background-color: #2c3e50;
}
.badge.alert:after {
  background-color: #e74c3c;
}
.badge.info:after {
  background-color: #2ecacc;
}
.badge.success:after {
  background-color: #2ecc71;
}
.badge.white:after {
  background-color: #ffffff;
  color: #1a242f;
}
.tip[data-tip] {
  position: relative;
  display: inline-block;
}
.tip[data-tip]:before {
  content: '';
  position: absolute;
  background: transparent;
  border: 0.4em solid transparent;
  z-index: 10002;
  opacity: 0;
}
.tip[data-tip]:after {
  background-color: #000000;
  color: #ffffff;
  content: attr(data-tip);
  font-size: 0.8em;
  font-weight: normal;
  opacity: 0;
  padding: 0.3333333333333333em;
  pointer-events: none;
  position: absolute;
  white-space: nowrap;
  z-index: 10001;
}
.tip[data-tip]:hover:before,
.tip[data-tip]:hover:after {
  opacity: 1;
}
.tip[data-tip].left:after {
  right: 100%;
  margin-right: 20px;
}
.tip[data-tip].left:hover:before {
  border-left-color: #000000;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
  font-style: normal;
  font-weight: normal;
}
.icon:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btn.icon:before {
  margin-right: 5px;
}
li.icon {
  list-style-type: none;
  margin-left: 0;
}
li.icon:before {
  text-align: center;
  text-indent: -2em;
}
li.icon.icon-large:before {
  text-indent: -1.3333333333333333em;
}
.icon.glass:before {
  content: "\f000";
}
.icon.music:before {
  content: "\f001";
}
.icon.search:before {
  content: "\f002";
}
.icon.envelope-o:before {
  content: "\f003";
}
.icon.heart:before {
  content: "\f004";
}
.icon.star:before {
  content: "\f005";
}
.icon.star-o:before {
  content: "\f006";
}
.icon.user:before {
  content: "\f007";
}
.icon.film:before {
  content: "\f008";
}
.icon.th-large:before {
  content: "\f009";
}
.icon.th:before {
  content: "\f00a";
}
.icon.th-list:before {
  content: "\f00b";
}
.icon.check:before {
  content: "\f00c";
}
.icon.times:before {
  content: "\f00d";
}
.icon.search-plus:before {
  content: "\f00e";
}
.icon.search-minus:before {
  content: "\f010";
}
.icon.power-off:before {
  content: "\f011";
}
.icon.signal:before {
  content: "\f012";
}
.icon.gear:before,
.icon.cog:before {
  content: "\f013";
}
.icon.trash-o:before {
  content: "\f014";
}
.icon.home:before {
  content: "\f015";
}
.icon.file-o:before {
  content: "\f016";
}
.icon.clock-o:before {
  content: "\f017";
}
.icon.road:before {
  content: "\f018";
}
.icon.download:before {
  content: "\f019";
}
.icon.arrow-circle-o-down:before {
  content: "\f01a";
}
.icon.arrow-circle-o-up:before {
  content: "\f01b";
}
.icon.inbox:before {
  content: "\f01c";
}
.icon.play-circle-o:before {
  content: "\f01d";
}
.icon.rotate-right:before,
.icon.repeat:before {
  content: "\f01e";
}
.icon.refresh:before {
  content: "\f021";
}
.icon.list-alt:before {
  content: "\f022";
}
.icon.lock:before {
  content: "\f023";
}
.icon.flag:before {
  content: "\f024";
}
.icon.headphones:before {
  content: "\f025";
}
.icon.volume-off:before {
  content: "\f026";
}
.icon.volume-down:before {
  content: "\f027";
}
.icon.volume-up:before {
  content: "\f028";
}
.icon.qrcode:before {
  content: "\f029";
}
.icon.barcode:before {
  content: "\f02a";
}
.icon.tag:before {
  content: "\f02b";
}
.icon.tags:before {
  content: "\f02c";
}
.icon.book:before {
  content: "\f02d";
}
.icon.bookmark:before {
  content: "\f02e";
}
.icon.print:before {
  content: "\f02f";
}
.icon.camera:before {
  content: "\f030";
}
.icon.font:before {
  content: "\f031";
}
.icon.bold:before {
  content: "\f032";
}
.icon.italic:before {
  content: "\f033";
}
.icon.text-height:before {
  content: "\f034";
}
.icon.text-width:before {
  content: "\f035";
}
.icon.align-left:before {
  content: "\f036";
}
.icon.align-center:before {
  content: "\f037";
}
.icon.align-right:before {
  content: "\f038";
}
.icon.align-justify:before {
  content: "\f039";
}
.icon.list:before {
  content: "\f03a";
}
.icon.dedent:before,
.icon.outdent:before {
  content: "\f03b";
}
.icon.indent:before {
  content: "\f03c";
}
.icon.video-camera:before {
  content: "\f03d";
}
.icon.picture-o:before {
  content: "\f03e";
}
.icon.pencil:before {
  content: "\f040";
}
.icon.map-marker:before {
  content: "\f041";
}
.icon.adjust:before {
  content: "\f042";
}
.icon.tint:before {
  content: "\f043";
}
.icon.edit:before,
.icon.pencil-square-o:before {
  content: "\f044";
}
.icon.share-square-o:before {
  content: "\f045";
}
.icon.check-square-o:before {
  content: "\f046";
}
.icon.arrows:before {
  content: "\f047";
}
.icon.step-backward:before {
  content: "\f048";
}
.icon.fast-backward:before {
  content: "\f049";
}
.icon.backward:before {
  content: "\f04a";
}
.icon.play:before {
  content: "\f04b";
}
.icon.pause:before {
  content: "\f04c";
}
.icon.stop:before {
  content: "\f04d";
}
.icon.forward:before {
  content: "\f04e";
}
.icon.fast-forward:before {
  content: "\f050";
}
.icon.step-forward:before {
  content: "\f051";
}
.icon.eject:before {
  content: "\f052";
}
.icon.chevron-left:before {
  content: "\f053";
}
.icon.chevron-right:before {
  content: "\f054";
}
.icon.plus-circle:before {
  content: "\f055";
}
.icon.minus-circle:before {
  content: "\f056";
}
.icon.times-circle:before {
  content: "\f057";
}
.icon.check-circle:before {
  content: "\f058";
}
.icon.question-circle:before {
  content: "\f059";
}
.icon.info-circle:before {
  content: "\f05a";
}
.icon.crosshairs:before {
  content: "\f05b";
}
.icon.times-circle-o:before {
  content: "\f05c";
}
.icon.check-circle-o:before {
  content: "\f05d";
}
.icon.ban:before {
  content: "\f05e";
}
.icon.arrow-left:before {
  content: "\f060";
}
.icon.arrow-right:before {
  content: "\f061";
}
.icon.arrow-up:before {
  content: "\f062";
}
.icon.arrow-down:before {
  content: "\f063";
}
.icon.mail-forward:before,
.icon.share:before {
  content: "\f064";
}
.icon.expand:before {
  content: "\f065";
}
.icon.compress:before {
  content: "\f066";
}
.icon.plus:before {
  content: "\f067";
}
.icon.minus:before {
  content: "\f068";
}
.icon.asterisk:before {
  content: "\f069";
}
.icon.exclamation-circle:before {
  content: "\f06a";
}
.icon.gift:before {
  content: "\f06b";
}
.icon.leaf:before {
  content: "\f06c";
}
.icon.fire:before {
  content: "\f06d";
}
.icon.eye:before {
  content: "\f06e";
}
.icon.eye-slash:before {
  content: "\f070";
}
.icon.warning:before,
.icon.exclamation-triangle:before {
  content: "\f071";
}
.icon.plane:before {
  content: "\f072";
}
.icon.calendar:before {
  content: "\f073";
}
.icon.random:before {
  content: "\f074";
}
.icon.comment:before {
  content: "\f075";
}
.icon.magnet:before {
  content: "\f076";
}
.icon.chevron-up:before {
  content: "\f077";
}
.icon.chevron-down:before {
  content: "\f078";
}
.icon.retweet:before {
  content: "\f079";
}
.icon.shopping-cart:before {
  content: "\f07a";
}
.icon.folder:before {
  content: "\f07b";
}
.icon.folder-open:before {
  content: "\f07c";
}
.icon.arrows-v:before {
  content: "\f07d";
}
.icon.arrows-h:before {
  content: "\f07e";
}
.icon.bar-chart-o:before {
  content: "\f080";
}
.icon.twitter-square:before {
  content: "\f081";
}
.icon.facebook-square:before {
  content: "\f082";
}
.icon.camera-retro:before {
  content: "\f083";
}
.icon.key:before {
  content: "\f084";
}
.icon.gears:before,
.icon.cogs:before {
  content: "\f085";
}
.icon.comments:before {
  content: "\f086";
}
.icon.thumbs-o-up:before {
  content: "\f087";
}
.icon.thumbs-o-down:before {
  content: "\f088";
}
.icon.star-half:before {
  content: "\f089";
}
.icon.heart-o:before {
  content: "\f08a";
}
.icon.sign-out:before {
  content: "\f08b";
}
.icon.linkedin-square:before {
  content: "\f08c";
}
.icon.thumb-tack:before {
  content: "\f08d";
}
.icon.external-link:before {
  content: "\f08e";
}
.icon.sign-in:before {
  content: "\f090";
}
.icon.trophy:before {
  content: "\f091";
}
.icon.github-square:before {
  content: "\f092";
}
.icon.upload:before {
  content: "\f093";
}
.icon.lemon-o:before {
  content: "\f094";
}
.icon.phone:before {
  content: "\f095";
}
.icon.square-o:before {
  content: "\f096";
}
.icon.bookmark-o:before {
  content: "\f097";
}
.icon.phone-square:before {
  content: "\f098";
}
.icon.twitter:before {
  content: "\f099";
}
.icon.facebook:before {
  content: "\f09a";
}
.icon.github:before {
  content: "\f09b";
}
.icon.unlock:before {
  content: "\f09c";
}
.icon.credit-card:before {
  content: "\f09d";
}
.icon.rss:before {
  content: "\f09e";
}
.icon.hdd-o:before {
  content: "\f0a0";
}
.icon.bullhorn:before {
  content: "\f0a1";
}
.icon.bell:before {
  content: "\f0f3";
}
.icon.certificate:before {
  content: "\f0a3";
}
.icon.hand-o-right:before {
  content: "\f0a4";
}
.icon.hand-o-left:before {
  content: "\f0a5";
}
.icon.hand-o-up:before {
  content: "\f0a6";
}
.icon.hand-o-down:before {
  content: "\f0a7";
}
.icon.arrow-circle-left:before {
  content: "\f0a8";
}
.icon.arrow-circle-right:before {
  content: "\f0a9";
}
.icon.arrow-circle-up:before {
  content: "\f0aa";
}
.icon.arrow-circle-down:before {
  content: "\f0ab";
}
.icon.globe:before {
  content: "\f0ac";
}
.icon.wrench:before {
  content: "\f0ad";
}
.icon.tasks:before {
  content: "\f0ae";
}
.icon.filter:before {
  content: "\f0b0";
}
.icon.briefcase:before {
  content: "\f0b1";
}
.icon.arrows-alt:before {
  content: "\f0b2";
}
.icon.group:before,
.icon.users:before {
  content: "\f0c0";
}
.icon.chain:before,
.icon.link:before {
  content: "\f0c1";
}
.icon.cloud:before {
  content: "\f0c2";
}
.icon.flask:before {
  content: "\f0c3";
}
.icon.cut:before,
.icon.scissors:before {
  content: "\f0c4";
}
.icon.copy:before,
.icon.files-o:before {
  content: "\f0c5";
}
.icon.paperclip:before {
  content: "\f0c6";
}
.icon.save:before,
.icon.floppy-o:before {
  content: "\f0c7";
}
.icon.square:before {
  content: "\f0c8";
}
.icon.bars:before {
  content: "\f0c9";
}
.icon.list-ul:before {
  content: "\f0ca";
}
.icon.list-ol:before {
  content: "\f0cb";
}
.icon.strikethrough:before {
  content: "\f0cc";
}
.icon.underline:before {
  content: "\f0cd";
}
.icon.table:before {
  content: "\f0ce";
}
.icon.magic:before {
  content: "\f0d0";
}
.icon.truck:before {
  content: "\f0d1";
}
.icon.pinterest:before {
  content: "\f0d2";
}
.icon.pinterest-square:before {
  content: "\f0d3";
}
.icon.google-plus-square:before {
  content: "\f0d4";
}
.icon.google-plus:before {
  content: "\f0d5";
}
.icon.money:before {
  content: "\f0d6";
}
.icon.caret-down:before {
  content: "\f0d7";
}
.icon.caret-up:before {
  content: "\f0d8";
}
.icon.caret-left:before {
  content: "\f0d9";
}
.icon.caret-right:before {
  content: "\f0da";
}
.icon.columns:before {
  content: "\f0db";
}
.icon.unsorted:before,
.icon.sort:before {
  content: "\f0dc";
}
.icon.sort-down:before,
.icon.sort-asc:before {
  content: "\f0dd";
}
.icon.sort-up:before,
.icon.sort-desc:before {
  content: "\f0de";
}
.icon.envelope:before {
  content: "\f0e0";
}
.icon.linkedin:before {
  content: "\f0e1";
}
.icon.rotate-left:before,
.icon.undo:before {
  content: "\f0e2";
}
.icon.legal:before,
.icon.gavel:before {
  content: "\f0e3";
}
.icon.dashboard:before,
.icon.tachometer:before {
  content: "\f0e4";
}
.icon.comment-o:before {
  content: "\f0e5";
}
.icon.comments-o:before {
  content: "\f0e6";
}
.icon.flash:before,
.icon.bolt:before {
  content: "\f0e7";
}
.icon.sitemap:before {
  content: "\f0e8";
}
.icon.umbrella:before {
  content: "\f0e9";
}
.icon.paste:before,
.icon.clipboard:before {
  content: "\f0ea";
}
.icon.lightbulb-o:before {
  content: "\f0eb";
}
.icon.exchange:before {
  content: "\f0ec";
}
.icon.cloud-download:before {
  content: "\f0ed";
}
.icon.cloud-upload:before {
  content: "\f0ee";
}
.icon.user-md:before {
  content: "\f0f0";
}
.icon.stethoscope:before {
  content: "\f0f1";
}
.icon.suitcase:before {
  content: "\f0f2";
}
.icon.bell-o:before {
  content: "\f0a2";
}
.icon.coffee:before {
  content: "\f0f4";
}
.icon.cutlery:before {
  content: "\f0f5";
}
.icon.file-text-o:before {
  content: "\f0f6";
}
.icon.building-o:before {
  content: "\f0f7";
}
.icon.hospital-o:before {
  content: "\f0f8";
}
.icon.ambulance:before {
  content: "\f0f9";
}
.icon.medkit:before {
  content: "\f0fa";
}
.icon.fighter-jet:before {
  content: "\f0fb";
}
.icon.beer:before {
  content: "\f0fc";
}
.icon.h-square:before {
  content: "\f0fd";
}
.icon.plus-square:before {
  content: "\f0fe";
}
.icon.angle-double-left:before {
  content: "\f100";
}
.icon.angle-double-right:before {
  content: "\f101";
}
.icon.angle-double-up:before {
  content: "\f102";
}
.icon.angle-double-down:before {
  content: "\f103";
}
.icon.angle-left:before {
  content: "\f104";
}
.icon.angle-right:before {
  content: "\f105";
}
.icon.angle-up:before {
  content: "\f106";
}
.icon.angle-down:before {
  content: "\f107";
}
.icon.desktop:before {
  content: "\f108";
}
.icon.laptop:before {
  content: "\f109";
}
.icon.tablet:before {
  content: "\f10a";
}
.icon.mobile-phone:before,
.icon.mobile:before {
  content: "\f10b";
}
.icon.circle-o:before {
  content: "\f10c";
}
.icon.quote-left:before {
  content: "\f10d";
}
.icon.quote-right:before {
  content: "\f10e";
}
.icon.spinner:before {
  content: "\f110";
}
.icon.circle:before {
  content: "\f111";
}
.icon.mail-reply:before,
.icon.reply:before {
  content: "\f112";
}
.icon.github-alt:before {
  content: "\f113";
}
.icon.folder-o:before {
  content: "\f114";
}
.icon.folder-open-o:before {
  content: "\f115";
}
.icon.smile-o:before {
  content: "\f118";
}
.icon.frown-o:before {
  content: "\f119";
}
.icon.meh-o:before {
  content: "\f11a";
}
.icon.gamepad:before {
  content: "\f11b";
}
.icon.keyboard-o:before {
  content: "\f11c";
}
.icon.flag-o:before {
  content: "\f11d";
}
.icon.flag-checkered:before {
  content: "\f11e";
}
.icon.terminal:before {
  content: "\f120";
}
.icon.code:before {
  content: "\f121";
}
.icon.reply-all:before {
  content: "\f122";
}
.icon.mail-reply-all:before {
  content: "\f122";
}
.icon.star-half-empty:before,
.icon.star-half-full:before,
.icon.star-half-o:before {
  content: "\f123";
}
.icon.location-arrow:before {
  content: "\f124";
}
.icon.crop:before {
  content: "\f125";
}
.icon.code-fork:before {
  content: "\f126";
}
.icon.unlink:before,
.icon.chain-broken:before {
  content: "\f127";
}
.icon.question:before {
  content: "\f128";
}
.icon.info:before {
  content: "\f129";
}
.icon.exclamation:before {
  content: "\f12a";
}
.icon.superscript:before {
  content: "\f12b";
}
.icon.subscript:before {
  content: "\f12c";
}
.icon.eraser:before {
  content: "\f12d";
}
.icon.puzzle-piece:before {
  content: "\f12e";
}
.icon.microphone:before {
  content: "\f130";
}
.icon.microphone-slash:before {
  content: "\f131";
}
.icon.shield:before {
  content: "\f132";
}
.icon.calendar-o:before {
  content: "\f133";
}
.icon.fire-extinguisher:before {
  content: "\f134";
}
.icon.rocket:before {
  content: "\f135";
}
.icon.maxcdn:before {
  content: "\f136";
}
.icon.chevron-circle-left:before {
  content: "\f137";
}
.icon.chevron-circle-right:before {
  content: "\f138";
}
.icon.chevron-circle-up:before {
  content: "\f139";
}
.icon.chevron-circle-down:before {
  content: "\f13a";
}
.icon.html5:before {
  content: "\f13b";
}
.icon.css3:before {
  content: "\f13c";
}
.icon.anchor:before {
  content: "\f13d";
}
.icon.unlock-alt:before {
  content: "\f13e";
}
.icon.bullseye:before {
  content: "\f140";
}
.icon.ellipsis-h:before {
  content: "\f141";
}
.icon.ellipsis-v:before {
  content: "\f142";
}
.icon.rss-square:before {
  content: "\f143";
}
.icon.play-circle:before {
  content: "\f144";
}
.icon.ticket:before {
  content: "\f145";
}
.icon.minus-square:before {
  content: "\f146";
}
.icon.minus-square-o:before {
  content: "\f147";
}
.icon.level-up:before {
  content: "\f148";
}
.icon.level-down:before {
  content: "\f149";
}
.icon.check-square:before {
  content: "\f14a";
}
.icon.pencil-square:before {
  content: "\f14b";
}
.icon.external-link-square:before {
  content: "\f14c";
}
.icon.share-square:before {
  content: "\f14d";
}
.icon.compass:before {
  content: "\f14e";
}
.icon.toggle-down:before,
.icon.caret-square-o-down:before {
  content: "\f150";
}
.icon.toggle-up:before,
.icon.caret-square-o-up:before {
  content: "\f151";
}
.icon.toggle-right:before,
.icon.caret-square-o-right:before {
  content: "\f152";
}
.icon.euro:before,
.icon.eur:before {
  content: "\f153";
}
.icon.gbp:before {
  content: "\f154";
}
.icon.dollar:before,
.icon.usd:before {
  content: "\f155";
}
.icon.rupee:before,
.icon.inr:before {
  content: "\f156";
}
.icon.cny:before,
.icon.rmb:before,
.icon.yen:before,
.icon.jpy:before {
  content: "\f157";
}
.icon.ruble:before,
.icon.rouble:before,
.icon.rub:before {
  content: "\f158";
}
.icon.won:before,
.icon.krw:before {
  content: "\f159";
}
.icon.bitcoin:before,
.icon.btc:before {
  content: "\f15a";
}
.icon.file:before {
  content: "\f15b";
}
.icon.file-text:before {
  content: "\f15c";
}
.icon.sort-alpha-asc:before {
  content: "\f15d";
}
.icon.sort-alpha-desc:before {
  content: "\f15e";
}
.icon.sort-amount-asc:before {
  content: "\f160";
}
.icon.sort-amount-desc:before {
  content: "\f161";
}
.icon.sort-numeric-asc:before {
  content: "\f162";
}
.icon.sort-numeric-desc:before {
  content: "\f163";
}
.icon.thumbs-up:before {
  content: "\f164";
}
.icon.thumbs-down:before {
  content: "\f165";
}
.icon.youtube-square:before {
  content: "\f166";
}
.icon.youtube:before {
  content: "\f167";
}
.icon.xing:before {
  content: "\f168";
}
.icon.xing-square:before {
  content: "\f169";
}
.icon.youtube-play:before {
  content: "\f16a";
}
.icon.dropbox:before {
  content: "\f16b";
}
.icon.stack-overflow:before {
  content: "\f16c";
}
.icon.instagram:before {
  content: "\f16d";
}
.icon.flickr:before {
  content: "\f16e";
}
.icon.adn:before {
  content: "\f170";
}
.icon.bitbucket:before {
  content: "\f171";
}
.icon.bitbucket-square:before {
  content: "\f172";
}
.icon.tumblr:before {
  content: "\f173";
}
.icon.tumblr-square:before {
  content: "\f174";
}
.icon.long-arrow-down:before {
  content: "\f175";
}
.icon.long-arrow-up:before {
  content: "\f176";
}
.icon.long-arrow-left:before {
  content: "\f177";
}
.icon.long-arrow-right:before {
  content: "\f178";
}
.icon.apple:before {
  content: "\f179";
}
.icon.windows:before {
  content: "\f17a";
}
.icon.android:before {
  content: "\f17b";
}
.icon.linux:before {
  content: "\f17c";
}
.icon.dribbble:before {
  content: "\f17d";
}
.icon.skype:before {
  content: "\f17e";
}
.icon.foursquare:before {
  content: "\f180";
}
.icon.trello:before {
  content: "\f181";
}
.icon.female:before {
  content: "\f182";
}
.icon.male:before {
  content: "\f183";
}
.icon.gittip:before {
  content: "\f184";
}
.icon.sun-o:before {
  content: "\f185";
}
.icon.moon-o:before {
  content: "\f186";
}
.icon.archive:before {
  content: "\f187";
}
.icon.bug:before {
  content: "\f188";
}
.icon.vk:before {
  content: "\f189";
}
.icon.weibo:before {
  content: "\f18a";
}
.icon.renren:before {
  content: "\f18b";
}
.icon.pagelines:before {
  content: "\f18c";
}
.icon.stack-exchange:before {
  content: "\f18d";
}
.icon.arrow-circle-o-right:before {
  content: "\f18e";
}
.icon.arrow-circle-o-left:before {
  content: "\f190";
}
.icon.toggle-left:before,
.icon.caret-square-o-left:before {
  content: "\f191";
}
.icon.dot-circle-o:before {
  content: "\f192";
}
.icon.wheelchair:before {
  content: "\f193";
}
.icon.vimeo-square:before {
  content: "\f194";
}
.icon.turkish-lira:before,
.icon.try:before {
  content: "\f195";
}
.icon.plus-square-o:before {
  content: "\f196";
}
.tabs {
  background-color: #ffffff;
  border: 1px solid #ecf0f1;
}
.tabs .control {
  border-bottom: 1px solid #ecf0f1;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #fbfcfc;
}
.tabs li {
  float: left;
}
.tabs li a {
  border-right: 1px solid #ecf0f1;
  color: inherit;
  display: block;
  padding: 0.5em;
  text-decoration: none;
  position: relative;
  background-color: #ffffff;
}
.tabs li a:hover {
  background-color: #ecf0f1;
}
.tabs .active a {
  background-color: #ffffff;
  bottom: -1px;
}
.tabs .active a:hover {
  background-color: red;
}
.tabs .content {
  padding: 1em;
}
.progress {
  background-color: #ecf0f1;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  height: 20px;
  margin-bottom: 0.8em;
  width: 100%;
}
.progress .bar {
  background-color: #1abc9c;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #ffffff;
  font-size: 0.7em;
  padding-right: 1em;
  padding-top: 0.3333333333333333em;
  text-align: right;
  height: 100%;
}
.progress.dark .bar {
  background-color: #2c3e50;
}
.progress.alert .bar {
  background-color: #e74c3c;
}
.progress.info .bar {
  background-color: #2ecacc;
}
.progress.success .bar {
  background-color: #2ecc71;
}
.animation.down {
  -webkit-animation: slideDown 1s 1 ease;
  -moz-animation: slideDown 1s 1 ease;
  -o-animation: slideDown 1s 1 ease;
  animation: slideDown 1s 1 ease;
  opacity: 1;
}
.animation.up {
  -webkit-animation: slideUp 1s 1 ease;
  -moz-animation: slideUp 1s 1 ease;
  -o-animation: slideUp 1s 1 ease;
  animation: slideUp 1s 1 ease;
  opacity: 1;
}
.animation.left {
  -webkit-animation: slideLeft 1s 1 ease;
  -moz-animation: slideLeft 1s 1 ease;
  -o-animation: slideLeft 1s 1 ease;
  animation: slideLeft 1s 1 ease;
  opacity: 1;
}
.animation.right {
  -webkit-animation: slideRight 1s 1 ease;
  -moz-animation: slideRight 1s 1 ease;
  -o-animation: slideRight 1s 1 ease;
  animation: slideRight 1s 1 ease;
  opacity: 1;
}
.animation.increase {
  -webkit-animation: increaseRight 1s 1 ease;
  -moz-animation: increaseRight 1s 1 ease;
  -o-animation: increaseRight 1s 1 ease;
  animation: increaseRight 1s 1 ease;
  opacity: 1;
}
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
@-moz-keyframes slideDown {
  0% {
    -moz-transform: translateY(-10%);
  }
  100% {
    -moz-transform: translateY(0%);
  }
}
@-o-keyframes slideDown {
  0% {
    -o-transform: translateY(-10%);
  }
  100% {
    -o-transform: translateY(0%);
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(10%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
@-moz-keyframes slideUp {
  0% {
    -moz-transform: translateY(10%);
  }
  100% {
    -moz-transform: translateY(0%);
  }
}
@-o-keyframes slideUp {
  0% {
    -o-transform: translateY(10%);
  }
  100% {
    -o-transform: translateY(0%);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(10%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes slideLeft {
  0% {
    -moz-transform: translateX(10%);
  }
  100% {
    -moz-transform: translateX(0%);
  }
}
@-o-keyframes slideLeft {
  0% {
    -o-transform: translateX(10%);
  }
  100% {
    -o-transform: translateX(0%);
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-10%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes slideRight {
  0% {
    -moz-transform: translateX(-10%);
  }
  100% {
    -moz-transform: translateX(0%);
  }
}
@-o-keyframes slideRight {
  0% {
    -o-transform: translateX(-10%);
  }
  100% {
    -o-transform: translateX(0%);
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes increaseRight {
  0% {
    width: 0%;
  }
}
@-moz-keyframes increaseRight {
  0% {
    width: 0%;
  }
}
@-o-keyframes increaseRight {
  0% {
    width: 0%;
  }
}
@keyframes increaseRight {
  0% {
    width: 0%;
  }
}
section.wrapper > nav {
  color: #ffffff;
  position: fixed;
  width: 180px;
}
section.wrapper > nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
section.wrapper > nav ul a {
  display: block;
  padding: 0.5em;
  text-decoration: none;
  width: 100%;
}
section.wrapper > nav ul a:hover {
  background-color: #ecf0f1;
}
section.wrapper > section {
  width: 80%;
  float: right;
}
.example {
  background-color: #ffffff;
  border: 1px solid #ecf0f1;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 1em;
  padding-top: 2em;
  position: relative;
}
.example:after {
  color: #ecf0f1;
  content: "Example";
  font-size: 0.8em;
  font-weight: bold;
  left: 15px;
  letter-spacing: 1px;
  position: absolute;
  text-transform: uppercase;
  top: 15px;
}
.example.code {
  background-color: #ecf0f1;
  font-size: 0.8em;
  margin-bottom: 0.8em;
}
.nt {
  color: #2f6f9f;
}
.na {
  color: #4f9fcf;
}
.s {
  color: #d44950;
}
