// ===========================================
// LemurCSS by @wazksy
// grid-large.less
// ===========================================

.column {

	&.l-12 {
		width: 100%;
	}

	&.l-11 {
		width: 91.66666666666666%;
	}

	&.l-10 {
		width: 83.33333333333334%;
	}

	&.l-9 {
		width: 75%;
	}

	&.l-8 {
		width: 66.66666666666666%;
	}

	&.l-7 {
		width: 58.333333333333336%;
	}

	&.l-6 {
		width: 50%;
	}

	&.l-5 {
		width: 41.66666666666667%;
	}

	&.l-4 {
		width: 33.33333333333333%;
	}

	&.l-3 {
		width: 25%;
	}

	&.l-2 {
		width: 16.666666666666664%;
	}

	&.l-1 {
		width: 8.333333333333332%;
	}

	// pull

	&.l-pull-12 {
		left: 100%;
	}

	&.l-pull-11 {
		left: 91.66666666666666%;
	}

	&.l-pull-10 {
		left: 83.33333333333334%;
	}

	&.l-pull-9 {
		left: 75%;
	}

	&.l-pull-8 {
		left: 66.66666666666666%;
	}

	&.l-pull-7 {
		left: 58.333333333333336%;
	}

	&.l-pull-6 {
		left: 50%;
	}

	&.l-pull-5 {
		left: 41.66666666666667%;
	}

	&.l-pull-4 {
		left: 33.33333333333333%;
	}

	&.l-pull-3 {
		left: 25%;
	}

	&.l-pull-2 {
		left: 16.666666666666664%;
	}

	&.l-pull-1 {
		left: 8.333333333333332%;
	}

	&.l-pull-0 {
		left: 0;
	}

	// push

	&.l-push-12 {
		right: 100%;
	}

	&.l-push-11 {
		right: 91.66666666666666%;
	}

	&.l-push-10 {
		right: 83.33333333333334%;
	}

	&.l-push-9 {
		right: 75%;
	}

	&.l-push-8 {
		right: 66.66666666666666%;
	}

	&.l-push-7 {
		right: 58.333333333333336%;
	}

	&.l-push-6 {
		right: 50%;
	}

	&.l-push-5 {
		right: 41.66666666666667%;
	}

	&.l-push-4 {
		right: 33.33333333333333%;
	}

	&.l-push-3 {
		right: 25%;
	}

	&.l-push-2 {
		right: 16.666666666666664%;
	}

	&.l-push-1 {
		right: 8.333333333333332%;
	}

	&.l-push-0 {
		right: 0;
	}
}

// display

.l-show {
	display: inherit !important;
}

.l-hide {
	display: none !important;
}
