// ===========================================
// LemurCSS by @wazksy
// grid-x-small.less
// ===========================================

.column {

	&.x-small-12 {
		width: 100%;
	}

	&.x-small-11 {
		width: 91.66666666666666%;
	}

	&.x-small-10 {
		width: 83.33333333333334%;
	}

	&.x-small-9 {
		width: 75%;
	}

	&.x-small-8 {
		width: 66.66666666666666%;
	}

	&.x-small-7 {
		width: 58.333333333333336%;
	}

	&.x-small-6 {
		width: 50%;
	}

	&.x-small-5 {
		width: 41.66666666666667%;
	}

	&.x-small-4 {
		width: 33.33333333333333%;
	}

	&.x-small-3 {
		width: 25%;
	}

	&.x-small-2 {
		width: 16.666666666666664%;
	}

	&.x-small-1 {
		width: 8.333333333333332%;
	}

	// pull

	&.x-small-pull-12 {
		left: 100%;
	}

	&.x-small-pull-11 {
		left: 91.66666666666666%;
	}

	&.x-small-pull-10 {
		left: 83.33333333333334%;
	}

	&.x-small-pull-9 {
		left: 75%;
	}

	&.x-small-pull-8 {
		left: 66.66666666666666%;
	}

	&.x-small-pull-7 {
		left: 58.333333333333336%;
	}

	&.x-small-pull-6 {
		left: 50%;
	}

	&.x-small-pull-5 {
		left: 41.66666666666667%;
	}

	&.x-small-pull-4 {
		left: 33.33333333333333%;
	}

	&.x-small-pull-3 {
		left: 25%;
	}

	&.x-small-pull-2 {
		left: 16.666666666666664%;
	}

	&.x-small-pull-1 {
		left: 8.333333333333332%;
	}

	&.x-small-pull-0 {
		left: 0;
	}

	// push

	&.x-small-push-12 {
		right: 100%;
	}

	&.x-small-push-11 {
		right: 91.66666666666666%;
	}

	&.x-small-push-10 {
		right: 83.33333333333334%;
	}

	&.x-small-push-9 {
		right: 75%;
	}

	&.x-small-push-8 {
		right: 66.66666666666666%;
	}

	&.x-small-push-7 {
		right: 58.333333333333336%;
	}

	&.x-small-push-6 {
		right: 50%;
	}

	&.x-small-push-5 {
		right: 41.66666666666667%;
	}

	&.x-small-push-4 {
		right: 33.33333333333333%;
	}

	&.x-small-push-3 {
		right: 25%;
	}

	&.x-small-push-2 {
		right: 16.666666666666664%;
	}

	&.x-small-push-1 {
		right: 8.333333333333332%;
	}

	&.x-small-push-0 {
		right: 0;
	}
}

.visible {
	&.small,
	&.medium,
	&.large,
	&.x-large {
		display: none
	}
}
