// ===========================================
// LemurCSS by @wazksy
// grid-small.less
// ===========================================

.column {

	&.s-12 {
		width: 100%;
	}

	&.s-11 {
		width: 91.66666666666666%;
	}

	&.s-10 {
		width: 83.33333333333334%;
	}

	&.s-9 {
		width: 75%;
	}

	&.s-8 {
		width: 66.66666666666666%;
	}

	&.s-7 {
		width: 58.333333333333336%;
	}

	&.s-6 {
		width: 50%;
	}

	&.s-5 {
		width: 41.66666666666667%;
	}

	&.s-4 {
		width: 33.33333333333333%;
	}

	&.s-3 {
		width: 25%;
	}

	&.s-2 {
		width: 16.666666666666664%;
	}

	&.s-1 {
		width: 8.333333333333332%;
	}

	// pull

	&.s-pull-12 {
		left: 100%;
	}

	&.s-pull-11 {
		left: 91.66666666666666%;
	}

	&.s-pull-10 {
		left: 83.33333333333334%;
	}

	&.s-pull-9 {
		left: 75%;
	}

	&.s-pull-8 {
		left: 66.66666666666666%;
	}

	&.s-pull-7 {
		left: 58.333333333333336%;
	}

	&.s-pull-6 {
		left: 50%;
	}

	&.s-pull-5 {
		left: 41.66666666666667%;
	}

	&.s-pull-4 {
		left: 33.33333333333333%;
	}

	&.s-pull-3 {
		left: 25%;
	}

	&.s-pull-2 {
		left: 16.666666666666664%;
	}

	&.s-pull-1 {
		left: 8.333333333333332%;
	}

	&.s-pull-0 {
		left: 0;
	}

	// push

	&.s-push-12 {
		right: 100%;
	}

	&.s-push-11 {
		right: 91.66666666666666%;
	}

	&.s-push-10 {
		right: 83.33333333333334%;
	}

	&.s-push-9 {
		right: 75%;
	}

	&.s-push-8 {
		right: 66.66666666666666%;
	}

	&.s-push-7 {
		right: 58.333333333333336%;
	}

	&.s-push-6 {
		right: 50%;
	}

	&.s-push-5 {
		right: 41.66666666666667%;
	}

	&.s-push-4 {
		right: 33.33333333333333%;
	}

	&.s-push-3 {
		right: 25%;
	}

	&.s-push-2 {
		right: 16.666666666666664%;
	}

	&.s-push-1 {
		right: 8.333333333333332%;
	}

	&.s-push-0 {
		right: 0;
	}
}

// display

.s-show {
	display: inherit !important;
}

.s-hide {
	display: none !important;
}
