.column {
  background-color: red;
}
.column.medium-12 {
  width: 100%;
}
.column.medium-11 {
  width: 91.66666666666666%;
}
.column.medium-10 {
  width: 83.33333333333334%;
}
.column.medium-9 {
  width: 75%;
}
.column.medium-8 {
  width: 66.66666666666666%;
}
.column.medium-7 {
  width: 58.333333333333336%;
}
.column.medium-6 {
  width: 50%;
}
.column.medium-5 {
  width: 41.66666666666667%;
}
.column.medium-4 {
  width: 33.33333333333333%;
}
.column.medium-3 {
  width: 25%;
}
.column.medium-2 {
  width: 16.666666666666664%;
}
.column.medium-1 {
  width: 8.333333333333332%;
}
.column.medium-pull-12 {
  left: 100%;
}
.column.medium-pull-11 {
  left: 91.66666666666666%;
}
.column.medium-pull-10 {
  left: 83.33333333333334%;
}
.column.medium-pull-9 {
  left: 75%;
}
.column.medium-pull-8 {
  left: 66.66666666666666%;
}
.column.medium-pull-7 {
  left: 58.333333333333336%;
}
.column.medium-pull-6 {
  left: 50%;
}
.column.medium-pull-5 {
  left: 41.66666666666667%;
}
.column.medium-pull-4 {
  left: 33.33333333333333%;
}
.column.medium-pull-3 {
  left: 25%;
}
.column.medium-pull-2 {
  left: 16.666666666666664%;
}
.column.medium-pull-1 {
  left: 8.333333333333332%;
}
.column.medium-pull-0 {
  left: 0;
}
.column.medium-push-12 {
  right: 100%;
}
.column.medium-push-11 {
  right: 91.66666666666666%;
}
.column.medium-push-10 {
  right: 83.33333333333334%;
}
.column.medium-push-9 {
  right: 75%;
}
.column.medium-push-8 {
  right: 66.66666666666666%;
}
.column.medium-push-7 {
  right: 58.333333333333336%;
}
.column.medium-push-6 {
  right: 50%;
}
.column.medium-push-5 {
  right: 41.66666666666667%;
}
.column.medium-push-4 {
  right: 33.33333333333333%;
}
.column.medium-push-3 {
  right: 25%;
}
.column.medium-push-2 {
  right: 16.666666666666664%;
}
.column.medium-push-1 {
  right: 8.333333333333332%;
}
.column.medium-push-0 {
  right: 0;
}
.visible.medium {
  display: block;
}
.visible.small,
.visible.large,
.visible.x-large {
  display: none;
}
